USE [med_database_v5]
GO
/****** Object:  Table [dbo].[cajeros]    Script Date: 19/10/2025 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cajeros](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[nombre] [nvarchar](150) NULL,
	[usuario] [nvarchar](100) NULL,
	[contrasenia] [nvarchar](255) NULL,
	[creado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[calendario]    Script Date: 19/10/2025 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calendario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_id] [int] NULL,
	[cita_id] [int] NULL,
	[fecha] [date] NOT NULL,
	[hora_inicio] [time](7) NOT NULL,
	[hora_fin] [time](7) NOT NULL,
	[estado] [nvarchar](80) NULL,
	[creado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cita_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[citas]    Script Date: 19/10/2025 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[citas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[paciente_id] [int] NOT NULL,
	[doctor_id] [int] NOT NULL,
	[sede_id] [int] NULL,
	[fecha] [date] NOT NULL,
	[hora_inicio] [time](7) NOT NULL,
	[hora_fin] [time](7) NOT NULL,
	[razon] [nvarchar](255) NULL,
	[estado] [nvarchar](50) NULL,
	[creado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[consultas]    Script Date: 19/10/2025 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consultas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cita_id] [int] NOT NULL,
	[diagnostico_id] [int] NULL,
	[observaciones] [nvarchar](max) NULL,
	[creado_en] [datetime] NULL,
	[estado_postconsulta] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cita_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[diagnosticos]    Script Date: 19/10/2025 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diagnosticos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](50) NOT NULL,
	[nombre_enfermedad] [nvarchar](255) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_sede]    Script Date: 19/10/2025 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_sede](
	[sede_id] [int] NOT NULL,
	[doctor_id] [int] NOT NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[sede_id] ASC,
	[doctor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctores]    Script Date: 19/10/2025 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[especialidad_id] [int] NULL,
	[cmp] [nvarchar](100) NULL,
	[biografia] [nvarchar](max) NULL,
	[creado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cmp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[especialidades]    Script Date: 19/10/2025 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[especialidades](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[horarios_medicos]    Script Date: 19/10/2025 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[horarios_medicos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_id] [int] NOT NULL,
	[sede_id] [int] NULL,
	[fecha] [date] NOT NULL,
	[hora_inicio] [time](7) NOT NULL,
	[hora_fin] [time](7) NOT NULL,
	[activo] [bit] NULL,
	[observaciones] [nvarchar](255) NULL,
	[creado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_hm_doctor_fecha_hora] UNIQUE NONCLUSTERED 
(
	[doctor_id] ASC,
	[sede_id] ASC,
	[fecha] ASC,
	[hora_inicio] ASC,
	[hora_fin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicamentos]    Script Date: 19/10/2025 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicamentos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[presentacion] [varchar](100) NULL,
	[observaciones] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pacientes]    Script Date: 19/10/2025 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pacientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[tipo_sangre] [nvarchar](10) NULL,
	[alergias] [nvarchar](max) NULL,
	[condicion_cronica] [nvarchar](max) NULL,
	[historial_cirugias] [nvarchar](max) NULL,
	[historico_familiar] [nvarchar](max) NULL,
	[observaciones] [nvarchar](max) NULL,
	[contacto_emergencia_nombre] [nvarchar](150) NULL,
	[contacto_emergencia_telefono] [nvarchar](50) NULL,
	[contacto_emergencia_relacion] [nvarchar](100) NULL,
	[creado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recetas]    Script Date: 19/10/2025 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recetas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[consulta_id] [int] NOT NULL,
	[id_medicamento] [int] NULL,
	[indicacion] [varchar](255) NULL,
	[duracion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 19/10/2025 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sedes]    Script Date: 19/10/2025 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sedes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_sede] [nvarchar](150) NOT NULL,
	[direccion] [nvarchar](255) NULL,
	[telefono] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre_sede] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[superadmins]    Script Date: 19/10/2025 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[superadmins](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[nombre] [nvarchar](150) NULL,
	[usuario] [nvarchar](100) NULL,
	[contrasenia] [nvarchar](255) NULL,
	[creado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tiene_roles]    Script Date: 19/10/2025 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tiene_roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[rol_id] [int] NOT NULL,
	[creado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_tr_user_role] UNIQUE NONCLUSTERED 
(
	[usuario_id] ASC,
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 19/10/2025 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[apellido] [nvarchar](100) NULL,
	[email] [nvarchar](150) NOT NULL,
	[contrasenia] [nvarchar](255) NOT NULL,
	[dni] [nvarchar](50) NULL,
	[telefono] [nvarchar](50) NULL,
	[direccion] [nvarchar](255) NULL,
	[creado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cajeros] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[calendario] ADD  DEFAULT ('activo') FOR [estado]
GO
ALTER TABLE [dbo].[calendario] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[citas] ADD  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[citas] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[consultas] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[doctores] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[horarios_medicos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[horarios_medicos] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[pacientes] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[superadmins] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[tiene_roles] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[cajeros]  WITH CHECK ADD  CONSTRAINT [fk_cajero_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cajeros] CHECK CONSTRAINT [fk_cajero_usuario]
GO
ALTER TABLE [dbo].[calendario]  WITH CHECK ADD  CONSTRAINT [fk_calendario_cita] FOREIGN KEY([cita_id])
REFERENCES [dbo].[citas] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[calendario] CHECK CONSTRAINT [fk_calendario_cita]
GO
ALTER TABLE [dbo].[calendario]  WITH CHECK ADD  CONSTRAINT [fk_calendario_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctores] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[calendario] CHECK CONSTRAINT [fk_calendario_doctor]
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD  CONSTRAINT [fk_cita_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctores] ([id])
GO
ALTER TABLE [dbo].[citas] CHECK CONSTRAINT [fk_cita_doctor]
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD  CONSTRAINT [fk_cita_paciente] FOREIGN KEY([paciente_id])
REFERENCES [dbo].[pacientes] ([id])
GO
ALTER TABLE [dbo].[citas] CHECK CONSTRAINT [fk_cita_paciente]
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD  CONSTRAINT [fk_cita_sede] FOREIGN KEY([sede_id])
REFERENCES [dbo].[sedes] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[citas] CHECK CONSTRAINT [fk_cita_sede]
GO
ALTER TABLE [dbo].[consultas]  WITH CHECK ADD  CONSTRAINT [fk_consulta_cita] FOREIGN KEY([cita_id])
REFERENCES [dbo].[citas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[consultas] CHECK CONSTRAINT [fk_consulta_cita]
GO
ALTER TABLE [dbo].[consultas]  WITH CHECK ADD  CONSTRAINT [fk_consulta_diag] FOREIGN KEY([diagnostico_id])
REFERENCES [dbo].[diagnosticos] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[consultas] CHECK CONSTRAINT [fk_consulta_diag]
GO
ALTER TABLE [dbo].[doctor_sede]  WITH CHECK ADD  CONSTRAINT [fk_ds_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctores] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctor_sede] CHECK CONSTRAINT [fk_ds_doctor]
GO
ALTER TABLE [dbo].[doctor_sede]  WITH CHECK ADD  CONSTRAINT [fk_ds_sede] FOREIGN KEY([sede_id])
REFERENCES [dbo].[sedes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctor_sede] CHECK CONSTRAINT [fk_ds_sede]
GO
ALTER TABLE [dbo].[doctores]  WITH CHECK ADD  CONSTRAINT [fk_doctor_especialidad] FOREIGN KEY([especialidad_id])
REFERENCES [dbo].[especialidades] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[doctores] CHECK CONSTRAINT [fk_doctor_especialidad]
GO
ALTER TABLE [dbo].[doctores]  WITH CHECK ADD  CONSTRAINT [fk_doctor_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctores] CHECK CONSTRAINT [fk_doctor_usuario]
GO
ALTER TABLE [dbo].[horarios_medicos]  WITH CHECK ADD  CONSTRAINT [fk_hm_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctores] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[horarios_medicos] CHECK CONSTRAINT [fk_hm_doctor]
GO
ALTER TABLE [dbo].[horarios_medicos]  WITH CHECK ADD  CONSTRAINT [fk_hm_sede] FOREIGN KEY([sede_id])
REFERENCES [dbo].[sedes] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[horarios_medicos] CHECK CONSTRAINT [fk_hm_sede]
GO
ALTER TABLE [dbo].[pacientes]  WITH CHECK ADD  CONSTRAINT [fk_paciente_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pacientes] CHECK CONSTRAINT [fk_paciente_usuario]
GO
ALTER TABLE [dbo].[recetas]  WITH CHECK ADD  CONSTRAINT [fk_receta_consulta] FOREIGN KEY([consulta_id])
REFERENCES [dbo].[consultas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[recetas] CHECK CONSTRAINT [fk_receta_consulta]
GO
ALTER TABLE [dbo].[recetas]  WITH CHECK ADD  CONSTRAINT [fk_receta_medicamento] FOREIGN KEY([id_medicamento])
REFERENCES [dbo].[medicamentos] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[recetas] CHECK CONSTRAINT [fk_receta_medicamento]
GO
ALTER TABLE [dbo].[superadmins]  WITH CHECK ADD  CONSTRAINT [fk_superadmin_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[superadmins] CHECK CONSTRAINT [fk_superadmin_usuario]
GO
ALTER TABLE [dbo].[tiene_roles]  WITH CHECK ADD  CONSTRAINT [fk_tr_rol] FOREIGN KEY([rol_id])
REFERENCES [dbo].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tiene_roles] CHECK CONSTRAINT [fk_tr_rol]
GO
ALTER TABLE [dbo].[tiene_roles]  WITH CHECK ADD  CONSTRAINT [fk_tr_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tiene_roles] CHECK CONSTRAINT [fk_tr_usuario]
GO
ALTER TABLE [dbo].[consultas]  WITH CHECK ADD  CONSTRAINT [chk_estado_postconsulta] CHECK  (([estado_postconsulta]='Problemático' OR [estado_postconsulta]='Pasivo' OR [estado_postconsulta]='No problemático'))
GO
ALTER TABLE [dbo].[consultas] CHECK CONSTRAINT [chk_estado_postconsulta]
GO
