USE [med_database_v5]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[apellido] [nvarchar](100) NULL,
	[email] [nvarchar](150) NOT NULL,
	[contrasenia] [nvarchar](255) NOT NULL,
	[dni] [nvarchar](50) NULL,
	[telefono] [nvarchar](50) NULL,
	[direccion] [nvarchar](255) NULL,
	[creado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[especialidades]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[especialidades](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sedes]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sedes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_sede] [nvarchar](150) NOT NULL,
	[direccion] [nvarchar](255) NULL,
	[telefono] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctores]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[especialidad_id] [int] NULL,
	[cmp] [nvarchar](100) NULL,
	[biografia] [nvarchar](max) NULL,
	[creado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pacientes]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pacientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[numero_historia_clinica] [nvarchar](20) NULL,
	[tipo_sangre] [nvarchar](10) NULL,
	[alergias] [nvarchar](max) NULL,
	[condicion_cronica] [nvarchar](max) NULL,
	[historial_cirugias] [nvarchar](max) NULL,
	[historico_familiar] [nvarchar](max) NULL,
	[observaciones] [nvarchar](max) NULL,
	[contacto_emergencia_nombre] [nvarchar](150) NULL,
	[contacto_emergencia_telefono] [nvarchar](50) NULL,
	[contacto_emergencia_relacion] [nvarchar](100) NULL,
	[creado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[citas]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[citas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[paciente_id] [int] NOT NULL,
	[doctor_id] [int] NOT NULL,
	[sede_id] [int] NULL,
	[fecha] [date] NOT NULL,
	[hora_inicio] [time](7) NOT NULL,
	[hora_fin] [time](7) NOT NULL,
	[razon] [nvarchar](255) NULL,
	[estado] [nvarchar](50) NULL,
	[pago] [nvarchar](50) NULL,
	[creado_en] [datetime] NULL,
	[calendario_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cajeros]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cajeros](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[nombre] [nvarchar](150) NULL,
	[usuario] [nvarchar](100) NULL,
	[contrasenia] [nvarchar](255) NULL,
	[creado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagos]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cita_id] [int] NOT NULL,
	[cajero_id] [int] NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[metodo_pago] [nvarchar](50) NOT NULL,
	[estado] [nvarchar](50) NOT NULL,
	[fecha_pago] [datetime] NOT NULL,
	[comprobante] [nvarchar](255) NULL,
	[observaciones] [nvarchar](max) NULL,
	[creado_en] [datetime] NULL,
	[actualizado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_pagos_completos]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_pagos_completos] AS
SELECT 
    p.id AS pago_id,
    p.monto,
    p.metodo_pago,
    p.estado AS estado_pago,
    p.fecha_pago,
    p.observaciones,
    p.comprobante,
    c.id AS cita_id,
    c.fecha AS fecha_cita,
    c.hora_inicio,
    c.hora_fin,
    c.razon,
    c.estado AS estado_cita,
    c.pago AS estado_pago_cita,
    -- Información del paciente
    u_pac.nombre AS paciente_nombre,
    u_pac.apellido AS paciente_apellido,
    u_pac.dni AS paciente_dni,
    u_pac.email AS paciente_email,
    u_pac.telefono AS paciente_telefono,
    -- Información del doctor
    u_doc.nombre AS doctor_nombre,
    u_doc.apellido AS doctor_apellido,
    esp.nombre AS especialidad_nombre,
    -- Información de la sede
    s.nombre_sede,
    s.direccion AS sede_direccion,
    s.telefono AS sede_telefono,
    -- Información del cajero
    u_caj.nombre AS cajero_nombre,
    u_caj.apellido AS cajero_apellido
FROM pagos p
INNER JOIN citas c ON p.cita_id = c.id
INNER JOIN pacientes pac ON c.paciente_id = pac.id
INNER JOIN usuarios u_pac ON pac.usuario_id = u_pac.id
INNER JOIN doctores doc ON c.doctor_id = doc.id
INNER JOIN usuarios u_doc ON doc.usuario_id = u_doc.id
LEFT JOIN especialidades esp ON doc.especialidad_id = esp.id
LEFT JOIN sedes s ON c.sede_id = s.id
INNER JOIN cajeros caj ON p.cajero_id = caj.id
INNER JOIN usuarios u_caj ON caj.usuario_id = u_caj.id

GO
/****** Object:  View [dbo].[v_estadisticas_pagos_cajero]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_estadisticas_pagos_cajero] AS
SELECT 
    caj.id AS cajero_id,
    u_caj.nombre + ' ' + u_caj.apellido AS cajero_nombre,
    COUNT(p.id) AS total_pagos,
    SUM(p.monto) AS monto_total,
    AVG(p.monto) AS monto_promedio,
    MIN(p.fecha_pago) AS primer_pago,
    MAX(p.fecha_pago) AS ultimo_pago,
    COUNT(CASE WHEN p.metodo_pago = 'efectivo' THEN 1 END) AS pagos_efectivo,
    COUNT(CASE WHEN p.metodo_pago = 'tarjeta_debito' THEN 1 END) AS pagos_tarjeta_debito,
    COUNT(CASE WHEN p.metodo_pago = 'tarjeta_credito' THEN 1 END) AS pagos_tarjeta_credito,
    COUNT(CASE WHEN p.metodo_pago = 'transferencia' THEN 1 END) AS pagos_transferencia,
    COUNT(CASE WHEN p.metodo_pago = 'cheque' THEN 1 END) AS pagos_cheque
FROM cajeros caj
INNER JOIN usuarios u_caj ON caj.usuario_id = u_caj.id
LEFT JOIN pagos p ON caj.id = p.cajero_id
WHERE p.estado = 'completado'
GROUP BY caj.id, u_caj.nombre, u_caj.apellido

GO
/****** Object:  View [dbo].[v_citas_pendientes_pago]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_citas_pendientes_pago] AS
SELECT 
    c.id AS cita_id,
    c.fecha,
    c.hora_inicio,
    c.hora_fin,
    c.razon,
    c.estado,
    c.pago,
    -- Información del paciente
    u_pac.nombre AS paciente_nombre,
    u_pac.apellido AS paciente_apellido,
    u_pac.dni AS paciente_dni,
    u_pac.email AS paciente_email,
    u_pac.telefono AS paciente_telefono,
    -- Información del doctor
    u_doc.nombre AS doctor_nombre,
    u_doc.apellido AS doctor_apellido,
    esp.nombre AS especialidad_nombre,
    -- Información de la sede
    s.nombre_sede,
    s.direccion AS sede_direccion
FROM citas c
INNER JOIN pacientes pac ON c.paciente_id = pac.id
INNER JOIN usuarios u_pac ON pac.usuario_id = u_pac.id
INNER JOIN doctores doc ON c.doctor_id = doc.id
INNER JOIN usuarios u_doc ON doc.usuario_id = u_doc.id
LEFT JOIN especialidades esp ON doc.especialidad_id = esp.id
LEFT JOIN sedes s ON c.sede_id = s.id
WHERE c.estado = 'atendido' 
AND c.pago = 'pendiente'
AND NOT EXISTS (SELECT 1 FROM pagos p WHERE p.cita_id = c.id)

GO
/****** Object:  Table [dbo].[calendario]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calendario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_id] [int] NULL,
	[fecha] [date] NOT NULL,
	[estado] [nvarchar](80) NULL,
	[creado_en] [datetime] NULL,
	[horario_id] [int] NULL,
	[hora_inicio] [time](7) NULL,
	[hora_fin] [time](7) NULL,
	[motivo] [nvarchar](255) NULL,
	[auto_generado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[consultas]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consultas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cita_id] [int] NOT NULL,
	[observaciones] [nvarchar](max) NULL,
	[creado_en] [datetime] NULL,
	[estado_postconsulta] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_consulta]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_consulta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_diagnostico] [int] NULL,
	[id_consulta] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[diagnosticos]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diagnosticos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](50) NOT NULL,
	[nombre_enfermedad] [nvarchar](255) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_sede]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_sede](
	[sede_id] [int] NOT NULL,
	[doctor_id] [int] NOT NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[sede_id] ASC,
	[doctor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feriados]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feriados](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[tipo] [nvarchar](50) NOT NULL,
	[activo] [bit] NULL,
	[sede_id] [int] NULL,
	[creado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[horarios_medicos]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[horarios_medicos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_id] [int] NOT NULL,
	[sede_id] [int] NULL,
	[hora_inicio] [time](7) NOT NULL,
	[hora_fin] [time](7) NOT NULL,
	[activo] [bit] NULL,
	[observaciones] [nvarchar](255) NULL,
	[creado_en] [datetime] NULL,
	[dia_semana] [varchar](10) NULL,
	[mes] [varchar](20) NULL,
	[anio] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicamentos]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicamentos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[presentacion] [varchar](100) NULL,
	[observaciones] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recetas]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recetas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[consulta_id] [int] NOT NULL,
	[id_medicamento] [int] NULL,
	[indicacion] [varchar](255) NULL,
	[duracion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[slots_calendario]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[slots_calendario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[calendario_id] [int] NOT NULL,
	[horario_id] [int] NULL,
	[hora_inicio] [time](7) NOT NULL,
	[hora_fin] [time](7) NOT NULL,
	[disponible] [bit] NULL,
	[reservado_por_cita_id] [int] NULL,
	[creado_en] [datetime] NULL,
	[actualizado_en] [datetime] NULL,
	[row_version] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[superadmins]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[superadmins](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[nombre] [nvarchar](150) NULL,
	[usuario] [nvarchar](100) NULL,
	[contrasenia] [nvarchar](255) NULL,
	[creado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tiene_roles]    Script Date: 04/12/2025 10:51:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tiene_roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[rol_id] [int] NOT NULL,
	[creado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cajeros] ON 

INSERT [dbo].[cajeros] ([id], [usuario_id], [nombre], [usuario], [contrasenia], [creado_en]) VALUES (1, 37, N'Carlos López', N'cajero', N'$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', CAST(N'2025-10-24T18:12:44.013' AS DateTime))
INSERT [dbo].[cajeros] ([id], [usuario_id], [nombre], [usuario], [contrasenia], [creado_en]) VALUES (2, 42, N'Cajero Demo', N'cajero_demo', N'$2y$10$fhsM920ifW.ptgzHy3lYReakN3tKjp0nqgQ4jRE6dMIAaPu5rnTXq', CAST(N'2025-10-26T19:48:59.860' AS DateTime))
SET IDENTITY_INSERT [dbo].[cajeros] OFF
GO
SET IDENTITY_INSERT [dbo].[calendario] ON 

INSERT [dbo].[calendario] ([id], [doctor_id], [fecha], [estado], [creado_en], [horario_id], [hora_inicio], [hora_fin], [motivo], [auto_generado]) VALUES (903, 16, CAST(N'2025-11-03' AS Date), N'activo', CAST(N'2025-11-01T12:59:20.000' AS DateTime), 328, CAST(N'09:00:00' AS Time), CAST(N'10:00:00' AS Time), NULL, 1)
INSERT [dbo].[calendario] ([id], [doctor_id], [fecha], [estado], [creado_en], [horario_id], [hora_inicio], [hora_fin], [motivo], [auto_generado]) VALUES (904, 16, CAST(N'2025-11-10' AS Date), N'activo', CAST(N'2025-11-01T12:59:20.000' AS DateTime), 328, CAST(N'09:00:00' AS Time), CAST(N'10:00:00' AS Time), NULL, 1)
INSERT [dbo].[calendario] ([id], [doctor_id], [fecha], [estado], [creado_en], [horario_id], [hora_inicio], [hora_fin], [motivo], [auto_generado]) VALUES (905, 16, CAST(N'2025-11-17' AS Date), N'activo', CAST(N'2025-11-01T12:59:20.000' AS DateTime), 328, CAST(N'09:00:00' AS Time), CAST(N'10:00:00' AS Time), NULL, 1)
SET IDENTITY_INSERT [dbo].[calendario] OFF
GO
SET IDENTITY_INSERT [dbo].[citas] ON 

INSERT [dbo].[citas] ([id], [paciente_id], [doctor_id], [sede_id], [fecha], [hora_inicio], [hora_fin], [razon], [estado], [pago], [creado_en], [calendario_id]) VALUES (702, 4, 1, 1, CAST(N'2025-11-10' AS Date), CAST(N'09:00:00' AS Time), CAST(N'09:15:00' AS Time), N' ', N'atendido', N'pagado', CAST(N'2025-11-08T22:36:28.267' AS DateTime), 913)
INSERT [dbo].[citas] ([id], [paciente_id], [doctor_id], [sede_id], [fecha], [hora_inicio], [hora_fin], [razon], [estado], [pago], [creado_en], [calendario_id]) VALUES (703, 9, 1, 1, CAST(N'2025-11-10' AS Date), CAST(N'09:15:00' AS Time), CAST(N'09:30:00' AS Time), N'', N'pendiente', N'pendiente', CAST(N'2025-11-09T06:56:28.080' AS DateTime), 913)
INSERT [dbo].[citas] ([id], [paciente_id], [doctor_id], [sede_id], [fecha], [hora_inicio], [hora_fin], [razon], [estado], [pago], [creado_en], [calendario_id]) VALUES (704, 4, 1, 1, CAST(N'2025-11-17' AS Date), CAST(N'09:00:00' AS Time), CAST(N'09:15:00' AS Time), N'chequeo medico', N'cancelado', N'pendiente', CAST(N'2025-11-10T10:38:25.080' AS DateTime), 914)
SET IDENTITY_INSERT [dbo].[citas] OFF
GO
SET IDENTITY_INSERT [dbo].[consultas] ON 

INSERT [dbo].[consultas] ([id], [cita_id], [observaciones], [creado_en], [estado_postconsulta]) VALUES (8, 702, N'obs demo 1', CAST(N'2025-11-10T12:20:57.970' AS DateTime), N'No problemático')
SET IDENTITY_INSERT [dbo].[consultas] OFF
GO
SET IDENTITY_INSERT [dbo].[detalle_consulta] ON 

INSERT [dbo].[detalle_consulta] ([id], [id_diagnostico], [id_consulta]) VALUES (22, 4, 8)
INSERT [dbo].[detalle_consulta] ([id], [id_diagnostico], [id_consulta]) VALUES (23, 5, 8)
SET IDENTITY_INSERT [dbo].[detalle_consulta] OFF
GO
SET IDENTITY_INSERT [dbo].[diagnosticos] ON 

INSERT [dbo].[diagnosticos] ([id], [codigo], [nombre_enfermedad], [descripcion]) VALUES (1, N'J06.9', N'Infección aguda de vías respiratorias superiores, no especificada', N'Cuadro catarral alto')
INSERT [dbo].[diagnosticos] ([id], [codigo], [nombre_enfermedad], [descripcion]) VALUES (2, N'I10', N'Hipertensión esencial (primaria)', N'HTA sin causa secundaria')
INSERT [dbo].[diagnosticos] ([id], [codigo], [nombre_enfermedad], [descripcion]) VALUES (3, N'E11.9', N'Diabetes mellitus tipo 2 sin complicaciones', N'DM2 control/seguimiento')
SET IDENTITY_INSERT [dbo].[diagnosticos] OFF
GO
INSERT [dbo].[doctor_sede] ([sede_id], [doctor_id], [fecha_inicio], [fecha_fin]) VALUES (1, 1, CAST(N'2024-01-01' AS Date), NULL)
INSERT [dbo].[doctor_sede] ([sede_id], [doctor_id], [fecha_inicio], [fecha_fin]) VALUES (1, 2, CAST(N'2024-01-01' AS Date), NULL)
INSERT [dbo].[doctor_sede] ([sede_id], [doctor_id], [fecha_inicio], [fecha_fin]) VALUES (1, 5, CAST(N'2024-01-01' AS Date), NULL)
GO
SET IDENTITY_INSERT [dbo].[doctores] ON 

INSERT [dbo].[doctores] ([id], [usuario_id], [especialidad_id], [cmp], [biografia], [creado_en]) VALUES (1, 3, 1, N'CMP-12345', N'Médico general con 15 años de experiencia. Especialista en medicina preventiva y atención integral del adulto.', CAST(N'2025-10-24T18:12:43.990' AS DateTime))
INSERT [dbo].[doctores] ([id], [usuario_id], [especialidad_id], [cmp], [biografia], [creado_en]) VALUES (2, 4, 2, N'CMP-23456', N'Cardiólogo con 12 años de experiencia. Especialista en ecocardiografía y cateterismo cardíaco.', CAST(N'2025-10-24T18:12:43.990' AS DateTime))
INSERT [dbo].[doctores] ([id], [usuario_id], [especialidad_id], [cmp], [biografia], [creado_en]) VALUES (3, 5, 3, N'CMP-34567', N'Dermatóloga con 10 años de experiencia. Especialista en dermatología estética y cirugía dermatológica.', CAST(N'2025-10-24T18:12:43.990' AS DateTime))
SET IDENTITY_INSERT [dbo].[doctores] OFF
GO
SET IDENTITY_INSERT [dbo].[especialidades] ON 

INSERT [dbo].[especialidades] ([id], [nombre], [descripcion]) VALUES (1, N'Medicina General', N'Atención médica general y preventiva')
INSERT [dbo].[especialidades] ([id], [nombre], [descripcion]) VALUES (2, N'Cardiología', N'Especialidad en enfermedades del corazón y sistema cardiovascular')
INSERT [dbo].[especialidades] ([id], [nombre], [descripcion]) VALUES (3, N'Dermatología', N'Especialidad en enfermedades de la piel, pelo y uñas')
SET IDENTITY_INSERT [dbo].[especialidades] OFF
GO
SET IDENTITY_INSERT [dbo].[feriados] ON 

INSERT [dbo].[feriados] ([id], [fecha], [nombre], [tipo], [activo], [sede_id], [creado_en]) VALUES (1, CAST(N'2025-01-01' AS Date), N'Año Nuevo', N'nacional', 1, NULL, CAST(N'2025-10-29T23:15:56.810' AS DateTime))
INSERT [dbo].[feriados] ([id], [fecha], [nombre], [tipo], [activo], [sede_id], [creado_en]) VALUES (2, CAST(N'2025-03-24' AS Date), N'Jueves Santo', N'nacional', 1, NULL, CAST(N'2025-10-29T23:15:56.810' AS DateTime))
INSERT [dbo].[feriados] ([id], [fecha], [nombre], [tipo], [activo], [sede_id], [creado_en]) VALUES (3, CAST(N'2025-03-25' AS Date), N'Viernes Santo', N'nacional', 1, NULL, CAST(N'2025-10-29T23:15:56.810' AS DateTime))
SET IDENTITY_INSERT [dbo].[feriados] OFF
GO
SET IDENTITY_INSERT [dbo].[horarios_medicos] ON 

INSERT [dbo].[horarios_medicos] ([id], [doctor_id], [sede_id], [hora_inicio], [hora_fin], [activo], [observaciones], [creado_en], [dia_semana], [mes], [anio]) VALUES (328, 16, 1, CAST(N'09:00:00' AS Time), CAST(N'10:00:00' AS Time), 1, N'Creado desde asignación masiva', CAST(N'2025-11-01T12:59:20.140' AS DateTime), N'lunes', N'noviembre', 2025)
INSERT [dbo].[horarios_medicos] ([id], [doctor_id], [sede_id], [hora_inicio], [hora_fin], [activo], [observaciones], [creado_en], [dia_semana], [mes], [anio]) VALUES (329, 16, 1, CAST(N'10:00:00' AS Time), CAST(N'11:00:00' AS Time), 1, N'Creado desde asignación masiva', CAST(N'2025-11-01T12:59:44.090' AS DateTime), N'lunes', N'noviembre', 2025)
INSERT [dbo].[horarios_medicos] ([id], [doctor_id], [sede_id], [hora_inicio], [hora_fin], [activo], [observaciones], [creado_en], [dia_semana], [mes], [anio]) VALUES (331, 1, 1, CAST(N'09:00:00' AS Time), CAST(N'10:00:00' AS Time), 1, N'Creado desde asignación masiva', CAST(N'2025-11-01T13:01:23.227' AS DateTime), N'lunes', N'noviembre', 2025)
SET IDENTITY_INSERT [dbo].[horarios_medicos] OFF
GO
SET IDENTITY_INSERT [dbo].[medicamentos] ON 

INSERT [dbo].[medicamentos] ([id], [nombre], [presentacion], [observaciones]) VALUES (1, N'Paracetamol', N'Tableta 500 mg', N'Analgesico y antipirético de uso común para dolor leve a moderado y fiebre.')
INSERT [dbo].[medicamentos] ([id], [nombre], [presentacion], [observaciones]) VALUES (2, N'Amoxicilina', N'Cápsula 500 mg', N'Antibiótico betalactámico, indicado en infecciones respiratorias y urinarias.')
INSERT [dbo].[medicamentos] ([id], [nombre], [presentacion], [observaciones]) VALUES (3, N'Ibuprofeno', N'Tableta 400 mg', N'Antiinflamatorio no esteroideo (AINE), indicado para dolor e inflamación.')
SET IDENTITY_INSERT [dbo].[medicamentos] OFF
GO
SET IDENTITY_INSERT [dbo].[pacientes] ON 

INSERT [dbo].[pacientes] ([id], [usuario_id], [numero_historia_clinica], [tipo_sangre], [alergias], [condicion_cronica], [historial_cirugias], [historico_familiar], [observaciones], [contacto_emergencia_nombre], [contacto_emergencia_telefono], [contacto_emergencia_relacion], [creado_en]) VALUES (1, 18, N'HC-001', N'O+', N'Penicilina', N'Hipertensión arterial', N'Apendicectomía (2015)', N'Padre diabético, madre hipertensa', N'Paciente controlada, toma medicación diaria', N'Juan García', N'999-000-030', N'Esposo', CAST(N'2025-10-24T18:12:44.010' AS DateTime))
INSERT [dbo].[pacientes] ([id], [usuario_id], [numero_historia_clinica], [tipo_sangre], [alergias], [condicion_cronica], [historial_cirugias], [historico_familiar], [observaciones], [contacto_emergencia_nombre], [contacto_emergencia_telefono], [contacto_emergencia_relacion], [creado_en]) VALUES (2, 19, N'HC-002', N'A+', N'Ninguna', N'Diabetes tipo 2', N'Colecistectomía (2018)', N'Madre diabética', N'Control glucémico regular', N'María Martínez', N'999-000-031', N'Hija', CAST(N'2025-10-24T18:12:44.010' AS DateTime))
INSERT [dbo].[pacientes] ([id], [usuario_id], [numero_historia_clinica], [tipo_sangre], [alergias], [condicion_cronica], [historial_cirugias], [historico_familiar], [observaciones], [contacto_emergencia_nombre], [contacto_emergencia_telefono], [contacto_emergencia_relacion], [creado_en]) VALUES (3, 20, N'HC-003', N'B+', N'Sulfamidas', N'Asma bronquial', N'Ninguna', N'Hermano asmático', N'Usa inhalador de rescate', N'Carlos Vargas', N'999-000-032', N'Hermano', CAST(N'2025-10-24T18:12:44.010' AS DateTime))
SET IDENTITY_INSERT [dbo].[pacientes] OFF
GO
SET IDENTITY_INSERT [dbo].[pagos] ON 

INSERT [dbo].[pagos] ([id], [cita_id], [cajero_id], [monto], [metodo_pago], [estado], [fecha_pago], [comprobante], [observaciones], [creado_en], [actualizado_en]) VALUES (11, 702, 2, CAST(15.00 AS Decimal(10, 2)), N'efectivo', N'completado', CAST(N'2025-11-14T19:55:11.000' AS DateTime), NULL, N'obse', CAST(N'2025-11-14T19:55:11.100' AS DateTime), CAST(N'2025-11-14T19:55:11.100' AS DateTime))
SET IDENTITY_INSERT [dbo].[pagos] OFF
GO
SET IDENTITY_INSERT [dbo].[recetas] ON 

INSERT [dbo].[recetas] ([id], [consulta_id], [id_medicamento], [indicacion], [duracion]) VALUES (19, 8, NULL, N'indiciacion 12', N'2 demo1')
INSERT [dbo].[recetas] ([id], [consulta_id], [id_medicamento], [indicacion], [duracion]) VALUES (20, 8, 1, N'indicacion 22', N'3 demo1')
SET IDENTITY_INSERT [dbo].[recetas] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [nombre], [descripcion]) VALUES (1, N'superadmin', N'Administrador del sistema')
INSERT [dbo].[roles] ([id], [nombre], [descripcion]) VALUES (2, N'doctor', N'Médico')
INSERT [dbo].[roles] ([id], [nombre], [descripcion]) VALUES (3, N'paciente', N'Paciente')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[sedes] ON 

INSERT [dbo].[sedes] ([id], [nombre_sede], [direccion], [telefono]) VALUES (1, N'Clínica Internacional - Sede San Isidro', N'Av. Javier Prado Este 4200, San Isidro, Lima', N'01-234-5678')
INSERT [dbo].[sedes] ([id], [nombre_sede], [direccion], [telefono]) VALUES (2, N'Clínica Internacional - Sede Miraflores', N'Av. Angamos Este 1234, Miraflores, Lima', N'01-234-5679')
INSERT [dbo].[sedes] ([id], [nombre_sede], [direccion], [telefono]) VALUES (3, N'Clínica Internacional - Sede Surco', N'Av. Benavides 3456, Surco, Lima', N'01-234-5680')
SET IDENTITY_INSERT [dbo].[sedes] OFF
GO
SET IDENTITY_INSERT [dbo].[slots_calendario] ON 

INSERT [dbo].[slots_calendario] ([id], [calendario_id], [horario_id], [hora_inicio], [hora_fin], [disponible], [reservado_por_cita_id], [creado_en], [actualizado_en]) VALUES (1764, 903, 328, CAST(N'09:00:00' AS Time), CAST(N'09:15:00' AS Time), 1, NULL, CAST(N'2025-11-01T12:59:20.000' AS DateTime), NULL)
INSERT [dbo].[slots_calendario] ([id], [calendario_id], [horario_id], [hora_inicio], [hora_fin], [disponible], [reservado_por_cita_id], [creado_en], [actualizado_en]) VALUES (1765, 903, 328, CAST(N'09:15:00' AS Time), CAST(N'09:30:00' AS Time), 1, NULL, CAST(N'2025-11-01T12:59:20.000' AS DateTime), NULL)
INSERT [dbo].[slots_calendario] ([id], [calendario_id], [horario_id], [hora_inicio], [hora_fin], [disponible], [reservado_por_cita_id], [creado_en], [actualizado_en]) VALUES (1766, 903, 328, CAST(N'09:30:00' AS Time), CAST(N'09:45:00' AS Time), 1, NULL, CAST(N'2025-11-01T12:59:20.000' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[slots_calendario] OFF
GO
SET IDENTITY_INSERT [dbo].[superadmins] ON 

INSERT [dbo].[superadmins] ([id], [usuario_id], [nombre], [usuario], [contrasenia], [creado_en]) VALUES (1, 1, N'Super Admin', N'admin', N'$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', CAST(N'2025-10-24T18:12:44.023' AS DateTime))
INSERT [dbo].[superadmins] ([id], [usuario_id], [nombre], [usuario], [contrasenia], [creado_en]) VALUES (2, 2, N'Carlos Mendoza', N'carlos', N'$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', CAST(N'2025-10-24T18:12:44.023' AS DateTime))
INSERT [dbo].[superadmins] ([id], [usuario_id], [nombre], [usuario], [contrasenia], [creado_en]) VALUES (3, 39, N'Super Admin Demo', N'super_demo', N'$2y$10$fhsM920ifW.ptgzHy3lYReakN3tKjp0nqgQ4jRE6dMIAaPu5rnTXq', CAST(N'2025-10-26T19:48:59.863' AS DateTime))
SET IDENTITY_INSERT [dbo].[superadmins] OFF
GO
SET IDENTITY_INSERT [dbo].[tiene_roles] ON 

INSERT [dbo].[tiene_roles] ([id], [usuario_id], [rol_id], [creado_en]) VALUES (1, 1, 1, CAST(N'2025-10-24T18:12:43.973' AS DateTime))
INSERT [dbo].[tiene_roles] ([id], [usuario_id], [rol_id], [creado_en]) VALUES (2, 2, 1, CAST(N'2025-10-24T18:12:43.973' AS DateTime))
INSERT [dbo].[tiene_roles] ([id], [usuario_id], [rol_id], [creado_en]) VALUES (3, 3, 2, CAST(N'2025-10-24T18:12:43.973' AS DateTime))
SET IDENTITY_INSERT [dbo].[tiene_roles] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id], [nombre], [apellido], [email], [contrasenia], [dni], [telefono], [direccion], [creado_en]) VALUES (1, N'Super', N'Admin', N'super@clinicasanjose.com', N'$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', N'12345678', N'999-000-001', N'Av. Principal 123, Lima', CAST(N'2025-10-24T18:12:43.957' AS DateTime))
INSERT [dbo].[usuarios] ([id], [nombre], [apellido], [email], [contrasenia], [dni], [telefono], [direccion], [creado_en]) VALUES (2, N'Carlos', N'Mendoza', N'admin@clinicasanjose.com', N'$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', N'87654321', N'999-000-002', N'Av. Principal 123, Lima', CAST(N'2025-10-24T18:12:43.957' AS DateTime))
INSERT [dbo].[usuarios] ([id], [nombre], [apellido], [email], [contrasenia], [dni], [telefono], [direccion], [creado_en]) VALUES (3, N'Dr. Juan Carlos', N'Pérez García', N'jperez@clinicasanjose.com', N'$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', N'11223344', N'999-000-010', N'Av. Javier Prado 100, San Isidro', CAST(N'2025-10-24T18:12:43.957' AS DateTime))
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
/****** Object:  Index [UQ__cajeros__2ED7D2AEC2D14ECD]    Script Date: 04/12/2025 10:51:27 a. m. ******/
ALTER TABLE [dbo].[cajeros] ADD UNIQUE NONCLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__consulta__5AC1B05AC58758F1]    Script Date: 04/12/2025 10:51:27 a. m. ******/
ALTER TABLE [dbo].[consultas] ADD UNIQUE NONCLUSTERED 
(
	[cita_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__diagnost__40F9A206995AD63F]    Script Date: 04/12/2025 10:51:27 a. m. ******/
ALTER TABLE [dbo].[diagnosticos] ADD UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__doctores__2ED7D2AE0D00F915]    Script Date: 04/12/2025 10:51:27 a. m. ******/
ALTER TABLE [dbo].[doctores] ADD UNIQUE NONCLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__doctores__D837B0AFC673C53C]    Script Date: 04/12/2025 10:51:27 a. m. ******/
ALTER TABLE [dbo].[doctores] ADD UNIQUE NONCLUSTERED 
(
	[cmp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__especial__72AFBCC6F4071270]    Script Date: 04/12/2025 10:51:27 a. m. ******/
ALTER TABLE [dbo].[especialidades] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__paciente__2ED7D2AEFADB2D82]    Script Date: 04/12/2025 10:51:27 a. m. ******/
ALTER TABLE [dbo].[pacientes] ADD UNIQUE NONCLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__paciente__AF36E773B53364ED]    Script Date: 04/12/2025 10:51:27 a. m. ******/
ALTER TABLE [dbo].[pacientes] ADD UNIQUE NONCLUSTERED 
(
	[numero_historia_clinica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__72AFBCC62C466600]    Script Date: 04/12/2025 10:51:27 a. m. ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__sedes__182AA0437C8C8C10]    Script Date: 04/12/2025 10:51:27 a. m. ******/
ALTER TABLE [dbo].[sedes] ADD UNIQUE NONCLUSTERED 
(
	[nombre_sede] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__superadm__2ED7D2AEAD51C772]    Script Date: 04/12/2025 10:51:27 a. m. ******/
ALTER TABLE [dbo].[superadmins] ADD UNIQUE NONCLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_tr_user_role]    Script Date: 04/12/2025 10:51:27 a. m. ******/
ALTER TABLE [dbo].[tiene_roles] ADD  CONSTRAINT [uq_tr_user_role] UNIQUE NONCLUSTERED 
(
	[usuario_id] ASC,
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuarios__AB6E6164CFEB0240]    Script Date: 04/12/2025 10:51:27 a. m. ******/
ALTER TABLE [dbo].[usuarios] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cajeros] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[calendario] ADD  DEFAULT ('activo') FOR [estado]
GO
ALTER TABLE [dbo].[calendario] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[calendario] ADD  CONSTRAINT [DF_calendario_auto_generado]  DEFAULT ((0)) FOR [auto_generado]
GO
ALTER TABLE [dbo].[citas] ADD  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[citas] ADD  DEFAULT ('pendiente') FOR [pago]
GO
ALTER TABLE [dbo].[citas] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[consultas] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[doctores] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[feriados] ADD  CONSTRAINT [DF_feriados_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[feriados] ADD  CONSTRAINT [DF_feriados_creado_en]  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[horarios_medicos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[horarios_medicos] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[horarios_medicos] ADD  CONSTRAINT [DF_horarios_medicos_anio]  DEFAULT (datepart(year,getdate())) FOR [anio]
GO
ALTER TABLE [dbo].[pacientes] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[pagos] ADD  DEFAULT ('efectivo') FOR [metodo_pago]
GO
ALTER TABLE [dbo].[pagos] ADD  DEFAULT ('completado') FOR [estado]
GO
ALTER TABLE [dbo].[pagos] ADD  DEFAULT (getdate()) FOR [fecha_pago]
GO
ALTER TABLE [dbo].[pagos] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[pagos] ADD  DEFAULT (getdate()) FOR [actualizado_en]
GO
ALTER TABLE [dbo].[slots_calendario] ADD  DEFAULT ((1)) FOR [disponible]
GO
ALTER TABLE [dbo].[slots_calendario] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[superadmins] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[tiene_roles] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[cajeros]  WITH CHECK ADD  CONSTRAINT [fk_cajero_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cajeros] CHECK CONSTRAINT [fk_cajero_usuario]
GO
ALTER TABLE [dbo].[calendario]  WITH CHECK ADD  CONSTRAINT [fk_calendario_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctores] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[calendario] CHECK CONSTRAINT [fk_calendario_doctor]
GO
ALTER TABLE [dbo].[calendario]  WITH CHECK ADD  CONSTRAINT [fk_calendario_horario] FOREIGN KEY([horario_id])
REFERENCES [dbo].[horarios_medicos] ([id])
GO
ALTER TABLE [dbo].[calendario] CHECK CONSTRAINT [fk_calendario_horario]
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD  CONSTRAINT [fk_cita_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctores] ([id])
GO
ALTER TABLE [dbo].[citas] CHECK CONSTRAINT [fk_cita_doctor]
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD  CONSTRAINT [fk_cita_paciente] FOREIGN KEY([paciente_id])
REFERENCES [dbo].[pacientes] ([id])
GO
ALTER TABLE [dbo].[citas] CHECK CONSTRAINT [fk_cita_paciente]
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD  CONSTRAINT [fk_cita_sede] FOREIGN KEY([sede_id])
REFERENCES [dbo].[sedes] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[citas] CHECK CONSTRAINT [fk_cita_sede]
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD  CONSTRAINT [fk_citas_calendario] FOREIGN KEY([calendario_id])
REFERENCES [dbo].[calendario] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[citas] CHECK CONSTRAINT [fk_citas_calendario]
GO
ALTER TABLE [dbo].[consultas]  WITH CHECK ADD  CONSTRAINT [fk_consulta_cita] FOREIGN KEY([cita_id])
REFERENCES [dbo].[citas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[consultas] CHECK CONSTRAINT [fk_consulta_cita]
GO
ALTER TABLE [dbo].[detalle_consulta]  WITH CHECK ADD  CONSTRAINT [fk_detalle_consulta] FOREIGN KEY([id_consulta])
REFERENCES [dbo].[consultas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[detalle_consulta] CHECK CONSTRAINT [fk_detalle_consulta]
GO
ALTER TABLE [dbo].[detalle_consulta]  WITH CHECK ADD  CONSTRAINT [fk_detalle_diag] FOREIGN KEY([id_diagnostico])
REFERENCES [dbo].[diagnosticos] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[detalle_consulta] CHECK CONSTRAINT [fk_detalle_diag]
GO
ALTER TABLE [dbo].[doctor_sede]  WITH CHECK ADD  CONSTRAINT [fk_ds_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctores] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctor_sede] CHECK CONSTRAINT [fk_ds_doctor]
GO
ALTER TABLE [dbo].[doctor_sede]  WITH CHECK ADD  CONSTRAINT [fk_ds_sede] FOREIGN KEY([sede_id])
REFERENCES [dbo].[sedes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctor_sede] CHECK CONSTRAINT [fk_ds_sede]
GO
ALTER TABLE [dbo].[doctores]  WITH CHECK ADD  CONSTRAINT [fk_doctor_especialidad] FOREIGN KEY([especialidad_id])
REFERENCES [dbo].[especialidades] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[doctores] CHECK CONSTRAINT [fk_doctor_especialidad]
GO
ALTER TABLE [dbo].[doctores]  WITH CHECK ADD  CONSTRAINT [fk_doctor_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctores] CHECK CONSTRAINT [fk_doctor_usuario]
GO
ALTER TABLE [dbo].[feriados]  WITH CHECK ADD  CONSTRAINT [fk_feriados_sede] FOREIGN KEY([sede_id])
REFERENCES [dbo].[sedes] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[feriados] CHECK CONSTRAINT [fk_feriados_sede]
GO
ALTER TABLE [dbo].[horarios_medicos]  WITH CHECK ADD  CONSTRAINT [fk_hm_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctores] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[horarios_medicos] CHECK CONSTRAINT [fk_hm_doctor]
GO
ALTER TABLE [dbo].[horarios_medicos]  WITH CHECK ADD  CONSTRAINT [fk_hm_sede] FOREIGN KEY([sede_id])
REFERENCES [dbo].[sedes] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[horarios_medicos] CHECK CONSTRAINT [fk_hm_sede]
GO
ALTER TABLE [dbo].[pacientes]  WITH CHECK ADD  CONSTRAINT [fk_paciente_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pacientes] CHECK CONSTRAINT [fk_paciente_usuario]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [fk_pago_cajero] FOREIGN KEY([cajero_id])
REFERENCES [dbo].[cajeros] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [fk_pago_cajero]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [fk_pago_cita] FOREIGN KEY([cita_id])
REFERENCES [dbo].[citas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [fk_pago_cita]
GO
ALTER TABLE [dbo].[recetas]  WITH CHECK ADD  CONSTRAINT [fk_receta_consulta] FOREIGN KEY([consulta_id])
REFERENCES [dbo].[consultas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[recetas] CHECK CONSTRAINT [fk_receta_consulta]
GO
ALTER TABLE [dbo].[recetas]  WITH CHECK ADD  CONSTRAINT [fk_receta_medicamento] FOREIGN KEY([id_medicamento])
REFERENCES [dbo].[medicamentos] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[recetas] CHECK CONSTRAINT [fk_receta_medicamento]
GO
ALTER TABLE [dbo].[slots_calendario]  WITH CHECK ADD  CONSTRAINT [fk_slot_calendario] FOREIGN KEY([calendario_id])
REFERENCES [dbo].[calendario] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[slots_calendario] CHECK CONSTRAINT [fk_slot_calendario]
GO
ALTER TABLE [dbo].[slots_calendario]  WITH CHECK ADD  CONSTRAINT [fk_slot_cita] FOREIGN KEY([reservado_por_cita_id])
REFERENCES [dbo].[citas] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[slots_calendario] CHECK CONSTRAINT [fk_slot_cita]
GO
ALTER TABLE [dbo].[slots_calendario]  WITH CHECK ADD  CONSTRAINT [fk_slot_horario] FOREIGN KEY([horario_id])
REFERENCES [dbo].[horarios_medicos] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[slots_calendario] CHECK CONSTRAINT [fk_slot_horario]
GO
ALTER TABLE [dbo].[superadmins]  WITH CHECK ADD  CONSTRAINT [fk_superadmin_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[superadmins] CHECK CONSTRAINT [fk_superadmin_usuario]
GO
ALTER TABLE [dbo].[tiene_roles]  WITH CHECK ADD  CONSTRAINT [fk_tr_rol] FOREIGN KEY([rol_id])
REFERENCES [dbo].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tiene_roles] CHECK CONSTRAINT [fk_tr_rol]
GO
ALTER TABLE [dbo].[tiene_roles]  WITH CHECK ADD  CONSTRAINT [fk_tr_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tiene_roles] CHECK CONSTRAINT [fk_tr_usuario]
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD  CONSTRAINT [ck_cita_estado] CHECK  (([estado]='ausente' OR [estado]='pendiente' OR [estado]='confirmado' OR [estado]='atendido' OR [estado]='cancelado'))
GO
ALTER TABLE [dbo].[citas] CHECK CONSTRAINT [ck_cita_estado]
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD  CONSTRAINT [ck_cita_pago] CHECK  (([pago]='rechazado' OR [pago]='pagado' OR [pago]='pendiente'))
GO
ALTER TABLE [dbo].[citas] CHECK CONSTRAINT [ck_cita_pago]
GO
ALTER TABLE [dbo].[consultas]  WITH CHECK ADD  CONSTRAINT [chk_estado_postconsulta] CHECK  (([estado_postconsulta]='Problemático' OR [estado_postconsulta]='Pasivo' OR [estado_postconsulta]='No problemático'))
GO
ALTER TABLE [dbo].[consultas] CHECK CONSTRAINT [chk_estado_postconsulta]
GO
ALTER TABLE [dbo].[feriados]  WITH CHECK ADD  CONSTRAINT [chk_feriados_tipo] CHECK  (([tipo]='local' OR [tipo]='nacional'))
GO
ALTER TABLE [dbo].[feriados] CHECK CONSTRAINT [chk_feriados_tipo]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [ck_pago_estado] CHECK  (([estado]='rechazado' OR [estado]='completado' OR [estado]='pendiente'))
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [ck_pago_estado]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [ck_pago_metodo] CHECK  (([metodo_pago]='cheque' OR [metodo_pago]='transferencia' OR [metodo_pago]='tarjeta_credito' OR [metodo_pago]='tarjeta_debito' OR [metodo_pago]='efectivo'))
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [ck_pago_metodo]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [ck_pago_monto] CHECK  (([monto]>(0)))
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [ck_pago_monto]
GO
