USE [med_database_v5]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 29/10/2025 10:25:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[apellido] [nvarchar](100) NULL,
	[email] [nvarchar](150) NOT NULL,
	[contrasenia] [nvarchar](255) NOT NULL,
	[dni] [nvarchar](50) NULL,
	[telefono] [nvarchar](50) NULL,
	[direccion] [nvarchar](255) NULL,
	[creado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[especialidades]    Script Date: 29/10/2025 10:25:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[especialidades](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sedes]    Script Date: 29/10/2025 10:25:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sedes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_sede] [nvarchar](150) NOT NULL,
	[direccion] [nvarchar](255) NULL,
	[telefono] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre_sede] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctores]    Script Date: 29/10/2025 10:25:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[especialidad_id] [int] NULL,
	[cmp] [nvarchar](100) NULL,
	[biografia] [nvarchar](max) NULL,
	[creado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cmp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pacientes]    Script Date: 29/10/2025 10:25:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pacientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[numero_historia_clinica] [nvarchar](20) NULL,
	[tipo_sangre] [nvarchar](10) NULL,
	[alergias] [nvarchar](max) NULL,
	[condicion_cronica] [nvarchar](max) NULL,
	[historial_cirugias] [nvarchar](max) NULL,
	[historico_familiar] [nvarchar](max) NULL,
	[observaciones] [nvarchar](max) NULL,
	[contacto_emergencia_nombre] [nvarchar](150) NULL,
	[contacto_emergencia_telefono] [nvarchar](50) NULL,
	[contacto_emergencia_relacion] [nvarchar](100) NULL,
	[creado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero_historia_clinica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[citas]    Script Date: 29/10/2025 10:25:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[citas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[paciente_id] [int] NOT NULL,
	[doctor_id] [int] NOT NULL,
	[sede_id] [int] NULL,
	[fecha] [date] NOT NULL,
	[hora_inicio] [time](7) NOT NULL,
	[hora_fin] [time](7) NOT NULL,
	[razon] [nvarchar](255) NULL,
	[estado] [nvarchar](50) NULL,
	[pago] [nvarchar](50) NULL,
	[creado_en] [datetime] NULL,
	[calendario_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cajeros]    Script Date: 29/10/2025 10:25:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cajeros](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[nombre] [nvarchar](150) NULL,
	[usuario] [nvarchar](100) NULL,
	[contrasenia] [nvarchar](255) NULL,
	[creado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagos]    Script Date: 29/10/2025 10:25:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cita_id] [int] NOT NULL,
	[cajero_id] [int] NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[metodo_pago] [nvarchar](50) NOT NULL,
	[estado] [nvarchar](50) NOT NULL,
	[fecha_pago] [datetime] NOT NULL,
	[comprobante] [nvarchar](255) NULL,
	[observaciones] [nvarchar](max) NULL,
	[creado_en] [datetime] NULL,
	[actualizado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_pagos_completos]    Script Date: 29/10/2025 10:25:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_pagos_completos] AS
SELECT 
    p.id AS pago_id,
    p.monto,
    p.metodo_pago,
    p.estado AS estado_pago,
    p.fecha_pago,
    p.observaciones,
    p.comprobante,
    c.id AS cita_id,
    c.fecha AS fecha_cita,
    c.hora_inicio,
    c.hora_fin,
    c.razon,
    c.estado AS estado_cita,
    c.pago AS estado_pago_cita,
    -- Información del paciente
    u_pac.nombre AS paciente_nombre,
    u_pac.apellido AS paciente_apellido,
    u_pac.dni AS paciente_dni,
    u_pac.email AS paciente_email,
    u_pac.telefono AS paciente_telefono,
    -- Información del doctor
    u_doc.nombre AS doctor_nombre,
    u_doc.apellido AS doctor_apellido,
    esp.nombre AS especialidad_nombre,
    -- Información de la sede
    s.nombre_sede,
    s.direccion AS sede_direccion,
    s.telefono AS sede_telefono,
    -- Información del cajero
    u_caj.nombre AS cajero_nombre,
    u_caj.apellido AS cajero_apellido
FROM pagos p
INNER JOIN citas c ON p.cita_id = c.id
INNER JOIN pacientes pac ON c.paciente_id = pac.id
INNER JOIN usuarios u_pac ON pac.usuario_id = u_pac.id
INNER JOIN doctores doc ON c.doctor_id = doc.id
INNER JOIN usuarios u_doc ON doc.usuario_id = u_doc.id
LEFT JOIN especialidades esp ON doc.especialidad_id = esp.id
LEFT JOIN sedes s ON c.sede_id = s.id
INNER JOIN cajeros caj ON p.cajero_id = caj.id
INNER JOIN usuarios u_caj ON caj.usuario_id = u_caj.id

GO
/****** Object:  View [dbo].[v_estadisticas_pagos_cajero]    Script Date: 29/10/2025 10:25:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_estadisticas_pagos_cajero] AS
SELECT 
    caj.id AS cajero_id,
    u_caj.nombre + ' ' + u_caj.apellido AS cajero_nombre,
    COUNT(p.id) AS total_pagos,
    SUM(p.monto) AS monto_total,
    AVG(p.monto) AS monto_promedio,
    MIN(p.fecha_pago) AS primer_pago,
    MAX(p.fecha_pago) AS ultimo_pago,
    COUNT(CASE WHEN p.metodo_pago = 'efectivo' THEN 1 END) AS pagos_efectivo,
    COUNT(CASE WHEN p.metodo_pago = 'tarjeta_debito' THEN 1 END) AS pagos_tarjeta_debito,
    COUNT(CASE WHEN p.metodo_pago = 'tarjeta_credito' THEN 1 END) AS pagos_tarjeta_credito,
    COUNT(CASE WHEN p.metodo_pago = 'transferencia' THEN 1 END) AS pagos_transferencia,
    COUNT(CASE WHEN p.metodo_pago = 'cheque' THEN 1 END) AS pagos_cheque
FROM cajeros caj
INNER JOIN usuarios u_caj ON caj.usuario_id = u_caj.id
LEFT JOIN pagos p ON caj.id = p.cajero_id
WHERE p.estado = 'completado'
GROUP BY caj.id, u_caj.nombre, u_caj.apellido

GO
/****** Object:  View [dbo].[v_citas_pendientes_pago]    Script Date: 29/10/2025 10:25:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_citas_pendientes_pago] AS
SELECT 
    c.id AS cita_id,
    c.fecha,
    c.hora_inicio,
    c.hora_fin,
    c.razon,
    c.estado,
    c.pago,
    -- Información del paciente
    u_pac.nombre AS paciente_nombre,
    u_pac.apellido AS paciente_apellido,
    u_pac.dni AS paciente_dni,
    u_pac.email AS paciente_email,
    u_pac.telefono AS paciente_telefono,
    -- Información del doctor
    u_doc.nombre AS doctor_nombre,
    u_doc.apellido AS doctor_apellido,
    esp.nombre AS especialidad_nombre,
    -- Información de la sede
    s.nombre_sede,
    s.direccion AS sede_direccion
FROM citas c
INNER JOIN pacientes pac ON c.paciente_id = pac.id
INNER JOIN usuarios u_pac ON pac.usuario_id = u_pac.id
INNER JOIN doctores doc ON c.doctor_id = doc.id
INNER JOIN usuarios u_doc ON doc.usuario_id = u_doc.id
LEFT JOIN especialidades esp ON doc.especialidad_id = esp.id
LEFT JOIN sedes s ON c.sede_id = s.id
WHERE c.estado = 'atendido' 
AND c.pago = 'pendiente'
AND NOT EXISTS (SELECT 1 FROM pagos p WHERE p.cita_id = c.id)

GO
/****** Object:  Table [dbo].[calendario]    Script Date: 29/10/2025 10:25:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calendario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_id] [int] NULL,
	[fecha] [date] NOT NULL,
	[estado] [nvarchar](80) NULL,
	[creado_en] [datetime] NULL,
	[horario_id] [int] NULL,
	[hora_inicio] [time](7) NULL,
	[hora_fin] [time](7) NULL,
	[motivo] [nvarchar](255) NULL,
	[auto_generado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[consultas]    Script Date: 29/10/2025 10:25:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consultas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cita_id] [int] NOT NULL,
	[observaciones] [nvarchar](max) NULL,
	[creado_en] [datetime] NULL,
	[estado_postconsulta] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cita_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_consulta]    Script Date: 29/10/2025 10:25:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_consulta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_diagnostico] [int] NULL,
	[id_consulta] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[diagnosticos]    Script Date: 29/10/2025 10:25:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diagnosticos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](50) NOT NULL,
	[nombre_enfermedad] [nvarchar](255) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_sede]    Script Date: 29/10/2025 10:25:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_sede](
	[sede_id] [int] NOT NULL,
	[doctor_id] [int] NOT NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[sede_id] ASC,
	[doctor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[horarios_medicos]    Script Date: 29/10/2025 10:25:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[horarios_medicos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_id] [int] NOT NULL,
	[sede_id] [int] NULL,
	[hora_inicio] [time](7) NOT NULL,
	[hora_fin] [time](7) NOT NULL,
	[activo] [bit] NULL,
	[observaciones] [nvarchar](255) NULL,
	[creado_en] [datetime] NULL,
	[dia_semana] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicamentos]    Script Date: 29/10/2025 10:25:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicamentos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[presentacion] [varchar](100) NULL,
	[observaciones] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recetas]    Script Date: 29/10/2025 10:25:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recetas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[consulta_id] [int] NOT NULL,
	[id_medicamento] [int] NULL,
	[indicacion] [varchar](255) NULL,
	[duracion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 29/10/2025 10:25:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[slots_calendario]    Script Date: 29/10/2025 10:25:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[slots_calendario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[calendario_id] [int] NOT NULL,
	[horario_id] [int] NULL,
	[hora_inicio] [time](7) NOT NULL,
	[hora_fin] [time](7) NOT NULL,
	[disponible] [bit] NULL,
	[reservado_por_cita_id] [int] NULL,
	[creado_en] [datetime] NULL,
	[actualizado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[superadmins]    Script Date: 29/10/2025 10:25:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[superadmins](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[nombre] [nvarchar](150) NULL,
	[usuario] [nvarchar](100) NULL,
	[contrasenia] [nvarchar](255) NULL,
	[creado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tiene_roles]    Script Date: 29/10/2025 10:25:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tiene_roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[rol_id] [int] NOT NULL,
	[creado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_tr_user_role] UNIQUE NONCLUSTERED 
(
	[usuario_id] ASC,
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cajeros] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[calendario] ADD  DEFAULT ('activo') FOR [estado]
GO
ALTER TABLE [dbo].[calendario] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[calendario] ADD  CONSTRAINT [DF_calendario_auto_generado]  DEFAULT ((0)) FOR [auto_generado]
GO
ALTER TABLE [dbo].[citas] ADD  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[citas] ADD  DEFAULT ('pendiente') FOR [pago]
GO
ALTER TABLE [dbo].[citas] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[consultas] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[doctores] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[horarios_medicos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[horarios_medicos] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[pacientes] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[pagos] ADD  DEFAULT ('efectivo') FOR [metodo_pago]
GO
ALTER TABLE [dbo].[pagos] ADD  DEFAULT ('completado') FOR [estado]
GO
ALTER TABLE [dbo].[pagos] ADD  DEFAULT (getdate()) FOR [fecha_pago]
GO
ALTER TABLE [dbo].[pagos] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[pagos] ADD  DEFAULT (getdate()) FOR [actualizado_en]
GO
ALTER TABLE [dbo].[slots_calendario] ADD  DEFAULT ((1)) FOR [disponible]
GO
ALTER TABLE [dbo].[slots_calendario] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[superadmins] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[tiene_roles] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[cajeros]  WITH CHECK ADD  CONSTRAINT [fk_cajero_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cajeros] CHECK CONSTRAINT [fk_cajero_usuario]
GO
ALTER TABLE [dbo].[calendario]  WITH CHECK ADD  CONSTRAINT [fk_calendario_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctores] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[calendario] CHECK CONSTRAINT [fk_calendario_doctor]
GO
ALTER TABLE [dbo].[calendario]  WITH CHECK ADD  CONSTRAINT [fk_calendario_horario] FOREIGN KEY([horario_id])
REFERENCES [dbo].[horarios_medicos] ([id])
GO
ALTER TABLE [dbo].[calendario] CHECK CONSTRAINT [fk_calendario_horario]
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD  CONSTRAINT [fk_cita_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctores] ([id])
GO
ALTER TABLE [dbo].[citas] CHECK CONSTRAINT [fk_cita_doctor]
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD  CONSTRAINT [fk_cita_paciente] FOREIGN KEY([paciente_id])
REFERENCES [dbo].[pacientes] ([id])
GO
ALTER TABLE [dbo].[citas] CHECK CONSTRAINT [fk_cita_paciente]
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD  CONSTRAINT [fk_cita_sede] FOREIGN KEY([sede_id])
REFERENCES [dbo].[sedes] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[citas] CHECK CONSTRAINT [fk_cita_sede]
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD  CONSTRAINT [fk_citas_calendario] FOREIGN KEY([calendario_id])
REFERENCES [dbo].[calendario] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[citas] CHECK CONSTRAINT [fk_citas_calendario]
GO
ALTER TABLE [dbo].[consultas]  WITH CHECK ADD  CONSTRAINT [fk_consulta_cita] FOREIGN KEY([cita_id])
REFERENCES [dbo].[citas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[consultas] CHECK CONSTRAINT [fk_consulta_cita]
GO
ALTER TABLE [dbo].[detalle_consulta]  WITH CHECK ADD  CONSTRAINT [fk_detalle_consulta] FOREIGN KEY([id_consulta])
REFERENCES [dbo].[consultas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[detalle_consulta] CHECK CONSTRAINT [fk_detalle_consulta]
GO
ALTER TABLE [dbo].[detalle_consulta]  WITH CHECK ADD  CONSTRAINT [fk_detalle_diag] FOREIGN KEY([id_diagnostico])
REFERENCES [dbo].[diagnosticos] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[detalle_consulta] CHECK CONSTRAINT [fk_detalle_diag]
GO
ALTER TABLE [dbo].[doctor_sede]  WITH CHECK ADD  CONSTRAINT [fk_ds_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctores] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctor_sede] CHECK CONSTRAINT [fk_ds_doctor]
GO
ALTER TABLE [dbo].[doctor_sede]  WITH CHECK ADD  CONSTRAINT [fk_ds_sede] FOREIGN KEY([sede_id])
REFERENCES [dbo].[sedes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctor_sede] CHECK CONSTRAINT [fk_ds_sede]
GO
ALTER TABLE [dbo].[doctores]  WITH CHECK ADD  CONSTRAINT [fk_doctor_especialidad] FOREIGN KEY([especialidad_id])
REFERENCES [dbo].[especialidades] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[doctores] CHECK CONSTRAINT [fk_doctor_especialidad]
GO
ALTER TABLE [dbo].[doctores]  WITH CHECK ADD  CONSTRAINT [fk_doctor_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctores] CHECK CONSTRAINT [fk_doctor_usuario]
GO
ALTER TABLE [dbo].[horarios_medicos]  WITH CHECK ADD  CONSTRAINT [fk_hm_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctores] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[horarios_medicos] CHECK CONSTRAINT [fk_hm_doctor]
GO
ALTER TABLE [dbo].[horarios_medicos]  WITH CHECK ADD  CONSTRAINT [fk_hm_sede] FOREIGN KEY([sede_id])
REFERENCES [dbo].[sedes] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[horarios_medicos] CHECK CONSTRAINT [fk_hm_sede]
GO
ALTER TABLE [dbo].[pacientes]  WITH CHECK ADD  CONSTRAINT [fk_paciente_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pacientes] CHECK CONSTRAINT [fk_paciente_usuario]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [fk_pago_cajero] FOREIGN KEY([cajero_id])
REFERENCES [dbo].[cajeros] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [fk_pago_cajero]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [fk_pago_cita] FOREIGN KEY([cita_id])
REFERENCES [dbo].[citas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [fk_pago_cita]
GO
ALTER TABLE [dbo].[recetas]  WITH CHECK ADD  CONSTRAINT [fk_receta_consulta] FOREIGN KEY([consulta_id])
REFERENCES [dbo].[consultas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[recetas] CHECK CONSTRAINT [fk_receta_consulta]
GO
ALTER TABLE [dbo].[recetas]  WITH CHECK ADD  CONSTRAINT [fk_receta_medicamento] FOREIGN KEY([id_medicamento])
REFERENCES [dbo].[medicamentos] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[recetas] CHECK CONSTRAINT [fk_receta_medicamento]
GO
ALTER TABLE [dbo].[slots_calendario]  WITH CHECK ADD  CONSTRAINT [fk_slot_calendario] FOREIGN KEY([calendario_id])
REFERENCES [dbo].[calendario] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[slots_calendario] CHECK CONSTRAINT [fk_slot_calendario]
GO
ALTER TABLE [dbo].[slots_calendario]  WITH CHECK ADD  CONSTRAINT [fk_slot_cita] FOREIGN KEY([reservado_por_cita_id])
REFERENCES [dbo].[citas] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[slots_calendario] CHECK CONSTRAINT [fk_slot_cita]
GO
ALTER TABLE [dbo].[slots_calendario]  WITH CHECK ADD  CONSTRAINT [fk_slot_horario] FOREIGN KEY([horario_id])
REFERENCES [dbo].[horarios_medicos] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[slots_calendario] CHECK CONSTRAINT [fk_slot_horario]
GO
ALTER TABLE [dbo].[superadmins]  WITH CHECK ADD  CONSTRAINT [fk_superadmin_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[superadmins] CHECK CONSTRAINT [fk_superadmin_usuario]
GO
ALTER TABLE [dbo].[tiene_roles]  WITH CHECK ADD  CONSTRAINT [fk_tr_rol] FOREIGN KEY([rol_id])
REFERENCES [dbo].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tiene_roles] CHECK CONSTRAINT [fk_tr_rol]
GO
ALTER TABLE [dbo].[tiene_roles]  WITH CHECK ADD  CONSTRAINT [fk_tr_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tiene_roles] CHECK CONSTRAINT [fk_tr_usuario]
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD  CONSTRAINT [ck_cita_estado] CHECK  (([estado]='ausente' OR [estado]='pendiente' OR [estado]='confirmado' OR [estado]='atendido' OR [estado]='cancelado'))
GO
ALTER TABLE [dbo].[citas] CHECK CONSTRAINT [ck_cita_estado]
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD  CONSTRAINT [ck_cita_pago] CHECK  (([pago]='rechazado' OR [pago]='pagado' OR [pago]='pendiente'))
GO
ALTER TABLE [dbo].[citas] CHECK CONSTRAINT [ck_cita_pago]
GO
ALTER TABLE [dbo].[consultas]  WITH CHECK ADD  CONSTRAINT [chk_estado_postconsulta] CHECK  (([estado_postconsulta]='Problemático' OR [estado_postconsulta]='Pasivo' OR [estado_postconsulta]='No problemático'))
GO
ALTER TABLE [dbo].[consultas] CHECK CONSTRAINT [chk_estado_postconsulta]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [ck_pago_estado] CHECK  (([estado]='rechazado' OR [estado]='completado' OR [estado]='pendiente'))
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [ck_pago_estado]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [ck_pago_metodo] CHECK  (([metodo_pago]='cheque' OR [metodo_pago]='transferencia' OR [metodo_pago]='tarjeta_credito' OR [metodo_pago]='tarjeta_debito' OR [metodo_pago]='efectivo'))
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [ck_pago_metodo]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [ck_pago_monto] CHECK  (([monto]>(0)))
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [ck_pago_monto]
GO
